version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app        
      - ./backend/model:/app/model
    env_file:
      - .env
    depends_on:
      - minio

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - ./minio/data:/data
